@import './variables';

.page {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 120px 0;
}

.wrapper {
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0 25px;
  margin: 0 auto;
}

.section-wrapper {
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0 50px;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .section-wrapper {
      padding: 0 30px;
  }
}

.title-main {
  display: block;
  width: fit-content;
  margin: 0;
  padding: 20px 40px;
  font-size: 40px;
  font-weight: 400;
  color: $color-main;
  background-color: $color-background;
  border-radius: 10px;
}

.title-second {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  padding: 5px 10px 5px 5px;
  width: fit-content;
  color: var(--active-text-color);
  background-color: rgba(35, 111, 117, 0.05);
  border-bottom: 1px solid var(--active-text-color);
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(35, 111, 117, 0.1);
  }
}

.title-third {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

.title-mb {
  margin-bottom: 20px;
}

.title-bottom {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}

.text {
  font-size: 16px;
  line-height: 1.5;
}

.text-mb {
  margin-bottom: 30px;
}

@media screen and (max-width: 500px) {
  .title-main {
    font-size: 25px;
    padding: 10px 20px;
  }
}

.background-wrapper {
  width: 100vw;
  height: 600px;
  margin-bottom: 120px;
  position: relative;

  &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: inherit;
      background-size: cover;
      background-position: center;
      z-index: -1;
  }
}

@media screen and (max-width: 500px) {
  .background-wrapper {
      margin-bottom: 80px;
      height: 400px;
  }
}

.item {
  padding: 0 10px 0px 30px;
  margin-bottom: 10px;
  position: relative;

  &::before {
      content: "";
      display: inline-block;
      position: absolute;
      left: 3px;
      top: 9px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #6FD297;
      box-shadow: 0px 0px 0px 3px rgba(78, 188, 109, 0.2);
  }
}

.material-icons {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
