<div class="slideshow">
    <!-- <div class="slideshow__box slideshow__box--img">
        <img [src]="images[index]" alt="" class="slideshow__img" (onChange)="test()">
    </div>
    <div class="slideshow__box slideshow__box--indicators">
        <span class="slideshow__indicator-box" 
        *ngFor="let item of images; let i = index"
        [ngClass]="{'slideshow__indicator--active' : index === i}"
        (click)="onSelectImg(i)"
        >
            <span class="slideshow__indicator"
            [ngClass]="{'slideshow__indicator--active' : index === i}"></span>
        </span>
    </div>
 -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active slideshow__box slideshow__box--img">
            <img class="slideshow__img" src="assets/images/home-slides/1.jpg" alt="First slide">
          </div>
          <div class="carousel-item slideshow__box slideshow__box--img">
            <img class="slideshow__img" src="assets/images/home-slides/2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item slideshow__box slideshow__box--img">
            <img class="slideshow__img" src="assets/images/home-slides/3.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
</div>