<footer class="footer">
    <div class="footer__box footer__box--title">
        <div class="footer__title">NEHMEN SIE KONTAKT AUF</div>
    </div>
    <div class="footer__box footer__box--info wrapper">
        <div class="footer__inner-box footer__inner-box--contacts contacts">
            <div class="contacts__box contacts__box--phone">
                <figure class="icon-box">
                    <i class="material-icons">phone</i>
                </figure>
                <a href="tel: +4923457936296" class="contacts__phone">+49234 / 57936296</a>
            </div>            
            <div class="contacts__box contacts__box--mobile">
                <figure class="icon-box">
                    <i class="material-icons">smartphone</i>
                </figure>
                <a href="tel: +4915733754918" class="contacts__mobile">+49157 / 33754918</a>
            </div>            
            <div class="contacts__box contacts__box--email">
                <figure class="icon-box">
                    <i class="material-icons">mail</i>
                </figure>
                <a href = "mailto:i.barho@barho-bausrvice.de" class="contacts__email">i.barho@barho-bausrvice.de</a>
            </div>            
            <div class="contacts__box contacts__box--website">
                <figure class="icon-box">
                    <i class="material-icons">language</i>
                </figure>
                <a href="www.barho-bauservice..de" class="contacts__website">www.barho-bauservice..de</a>
            </div>            
        </div>
        <div class="footer__inner-box footer__inner-box--address">
            <address class="address">
                <p class="address__item address__item--company-name">Barho Bauservice</p>
                <p class="address__item address__item--street">Stiepeler Str, 75</p>
                <p class="address__item address__item--index">44801 Bochum</p>
            </address>
        </div>
        <div class="footer__inner-box footer__inner-box--logo">
            <img class="footer__logo" src="./assets/images/logo.png" alt="logo">
        </div>
    </div>
    <div class="footer__box footer__box--policies">
        <a class="nav__link">Impressum</a>
        <a class="nav__link">Datenschutzerklärung</a>
        <a class="nav__link">Cookie-Richtlinie</a>
    </div>
</footer>
