@import '../../../styles.scss';

// shared
    .icon-box {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin: 0;

        .material-icons {
            position: absolute;
            font-size: 40px;
            color: var(--active-text-color);
        }
    }
//  shared - end

.nav {
}

.nav__box {
    width: 100%;
}

.nav__box--actions {
    display: none;
    padding-left: 30px;
    padding-right: 10px;

    .icon-box {
        transition: background-color 0.2s;
        &:hover {
            background-color: var(--active-text-color-light);
        }
    }
}

.nav__inner-box {
}

.nav__inner-box--icon{
}

.nav__box--list {
    padding-bottom: 40px;
}

.nav__list {
    display: flex;
}

.nav__list--first {
    min-height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 60px 0 10px;
    box-sizing: border-box;
}

.nav__item {
    position: relative;
}

.nav__link {
    color: var(--main-text-color);
    font-size: 20px;
    font-weight: 500;
    padding: 15px 35px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        color: var(--active-text-color);
        background-color: rgba(35, 111, 117, 0.1);
    }
}

.nav__link--active {
    color: var(--active-text-color);
}

.nav__inner-box--dropdown {
    display: inline-block;
    position: absolute;
    top: 10px;
}

.icon-box-flipped {
    transform: rotate(180deg);
}

.nav__list--second {
    position: absolute;
    left: 50%;
    top: 42px;
    transform: translateX(-50%);
    padding-top: 15px;
    background-color: #ffffff;
    display: none;
    flex-direction: column;
    color: var(--main-text-color);
    transition: opacity 0.2s;
    animation: appearance 0.2s ease-in;

    .nav__link {
        display: block;
    }

    @keyframes appearance {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }    
}
@media screen and (min-width: 780px) {
    .nav__item:hover > .nav__list--second {
        display: flex;
    }

    .nav__inner-box--dropdown {
        display: none;
    }
}

@media screen and (max-width: 780px) {
    .nav__box--actions {
        display: flex;
        justify-content: flex-end;
    }

    .nav__box--list {
        display: none;
    }

    .nav__box--shown {
        display: block;
        position: absolute;
        left: 0;
        top: 120px;
        padding: 0;
        animation: move 0.1s ease-in;

        @keyframes move {
            0% {
                top: 120px;
                transform: translateX(-100vw);
            }
            100% {
                top: 120px;
                transform: translateX(0);
            }
        }

        .nav__list--first {
            width: 100vw;
            height: calc(100vh - 120px);    
            padding: 30px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: #ffffff;
        }

        .nav__item {
            .material-icons {
                color: var(--main-text-color);
                transition: color 0.2s;

                &:hover {
                    color: var(--active-text-color);
                }    
            }
        }

        .nav__link {
            display: inline-block;
            min-width: 170px;
        }

        .nav__list--shown {
            display: flex;
            flex-direction: column;
        }

        .nav__list--second {
            position: relative;
            top: 0;
            padding: 0 35px 0 55px;

            .nav__link {
                min-width: 257px;
            }
        }
    }
}