<nav class="nav">
  <div class="nav__box nav__box--actions">
    <div class="nav__inner-box nav__inner-box--icon">
      <img 
        class="nav__icon nav__icon--list" 
        src="./assets/icons/list.svg" 
        alt="list"
        (click)="navbarBoxShown = !navbarBoxShown">
    </div>
  </div>
  <div class="nav__box nav__box--list"
    [ngClass]="{'nav__box--shown': navbarBoxShown}">
    <ul class="nav__list nav__list--first">
      <li class="nav__item" *ngFor="let route of navRoutes">
        <a class="nav__link"
          [routerLink]="[route.path]"
          [routerLinkActiveOptions]="{exact: route.exact}"
          [routerLinkActive]="['nav__link--active']"
          (click)="navbarBoxShown = !navbarBoxShown"
        >{{route.title}}</a>
        <ul class="nav__list nav__list--second" *ngIf="route.subRoutes.length > 0">
          <li class="nav__item" *ngFor="let subRoute of route.subRoutes">
            <a class="nav__link"
              [routerLink]="[subRoute.path]"
              [routerLinkActiveOptions]="{exact: subRoute.exact}"
              [routerLinkActive]="['nav__link--active']"
              (click)="navbarBoxShown = !navbarBoxShown"
            >{{subRoute.title}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
