@import '../../../styles.scss';

.header {
    color: var(--main-text-color);
    background-color: #ffffff;
    position: fixed;
    width: 100vw;
    z-index: 99;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__box {
    height: 120px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.header__box--logo {
}

.header__link {
}

.header__img-box {
    margin: 0;
}

.header__img {
    width: 180px;
    height: 90px;
}

.header__box--navbar {
    flex-grow: 1;
}
.header__navbar {
    width: 100%;
}