.impressum {

}
.impressum__wrapper {

}
.impressum__title {
    margin: 40px 0 20px;
}
.impressum__text {

}
.impressum__text--bold {
    font-weight: 700;
    padding-bottom: 5px;
}
.impressum__link {
    text-decoration: underline;
}