.contacts {

}
.contacts__box {

}
.contacts__img-box {
    position: relative;
    width: 100%;
    height: 60vw;
    overflow: hidden;
}
.contacts__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: verticalSlide 1s ease;
}

@keyframes verticalSlide {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}
@-moz-keyframes verticalSlide{
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}
@-webkit-keyframes verticalSlide {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}
@-o-keyframes verticalSlide {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}
.contacts__form {

}
.form {
    font-size: 14px;
}
.form__sections {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}
.form__section-box {
    padding: 0 20px;
    width: 50%;
}
@media screen and (max-width: 700px) {
    .form__section-box {
        width: 100%;
        padding-bottom: 20px;
    }
}
.form__section {

}
.form__section--questions {

}
.form__title {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-active);
    padding-bottom: 15px;
}
.form__title--mt {
    margin-top: 15px;
}
.form__box {
    padding-bottom: 10px;
}
.form__text {

}
.form__options-box {
    display: flex;
    align-items: center;
}
.form__label {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}
.form__label--radio {
    padding-left: 20px;
    position: relative;
}
.form__radio {
    display: none;

    &:checked ~ .form__checkmark {
        width: 8px;
        height: 8px;
        left: 3px;
        border-radius: 50%;
        background-color: var(--color-active);
        box-shadow: 0px 0px 0px 3px rgba(#009897, 0.3);
        border: none;
    }
}
.form__checkmark {
    position: absolute;
    display: block;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #c2cfd8;
}
.form__input, .form__textarea {
    min-width: 100%;
    padding: 10px;
    border: 1px solid #cdd9e1;
    transition: 0.2s;

    &:hover {
        border: 1px solid var(--color-active);
    }

    &::placeholder {
        font-weight: 300;
    }
}
.form__input:focus, .form__textarea:focus {
    border: 1px solid var(--color-active);
    background-color: transparent;
    background-color: rgb(222, 235, 241);
}
.form__section--user-info {

}
.form__text--info {
    font-size: 14px;
}
.form__text--mb {
    margin-bottom: 10px;
}
.form__actions {
    text-align: center;
    padding: 20px;
}
.form__btn {
    padding: 10px 40px;
    font-size: 20px;
    border: none;
    background-color: var(--color-active-light);
    color: #fff;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--color-active);
    }
}
