@import '../../../styles.scss';

.career {

}
.career__section {

}
.career__wrapper {

}
.career__box {
    padding-bottom: 25px;
}
.career__box--info {

}
.career__info {
    padding-bottom: 25px;
}
.career__title {
    font-size: 25px;
    padding-bottom: 10px;
    color: var(--color-active);

}
.career__text {

}
.career__title {

}
.career__list {

}
.career__item {

}
.career__email {
    color: var(--color-active-light);

    &:hover {
        color: var(--color-active);
    }
}