<div class="career page">
    <div class="career__box career__box--img">
        <h1 class="career__main-title" *ngIf="showTitle">Starten Sie Ihre Karriere in<br>Barho Bauservice</h1>
        <img src="assets/images/career.jpg" alt="career in Barho bauservice" class="career__img">
        <div class="career__img-card" *ngFor="let card of cardsArray"></div>
    </div>
    <section class="career__section">
        <div class="career__wrapper wrapper">
            <div class="career__form">
                <div class="career__box career__box--info">
                    <p class="career__info">Die Barho Bauservice ist ein mittelständisches Familienunternehmen mit Sitz in Bochum. Unsere Dienstleistung umfasst die Bereiche der Sanierung, Renovierung und Modernisierung von (Trockenbau, Abbrucharbeiten, Schadenstoffsanierung, etc.).</p>
                    <h2 class="career__title">Du bist ein handwerklicher Allrounder und auf Dich kann man bauen?</h2>
                    <p class="career__text">Dann komm‘ zu uns ins Team als</p>
                    <p class="career__text">Trockenbauer (m/w/d)</p>
                </div>
                <div class="career__box">
                    <h2 class="career__title">Darauf kannst Du Dich freuen:</h2>
                    <div class="career__list">
                        <div class="career__item item">Du erhältst eine leistungsgerechte Vergütung zzgl. Prämienmodelle und Zuschuss zur Kinderbetreuung</div>
                        <div class="career__item item">Eine sichere Beschäftigung auch in der Bau-Nebensaison</div>
                        <div class="career__item item">Interessante und herausfordernde Aufgaben</div>
                        <div class="career__item item">Ein angenehmes Arbeitsklima in einem modernen Familienunternehmen</div>
                    </div>
                </div>
                <div class="career__box">
                    <h2 class="career__title">Dein Aufgabengebiet:</h2>
                    <div class="career__list">
                        <div class="career__item item">Selbstständige Durchführung von qualifizierten Betonbau-, Trockenbau- und Maurerarbeiten</div>
                        <div class="career__item item">Herstellen von Leichtbauwänden, Unterdecken oder Bekleidung von Decken, Wänden und Fassaden</div>
                        <div class="career__item item">Dämmungsarbeiten gegen Kälte, Wärme, Schall und Erschütterung</div>
                        <div class="career__item item">Erledigung vorbereitender Tätigkeiten</div>
                    </div>
                </div>
                <div class="career__box">
                    <h2 class="career__title">Das zeichnet Dich aus:</h2>
                    <div class="career__list">
                        <div class="career__item item">Eine abgeschlossene Berufsausbildung als Fachkraft für Trockenbau oder eine vergleichbare Ausbildung</div>
                        <div class="career__item item">Berufserfahrung im genannten Aufgabengebiet und Kenntnisse im Innenausbau</div>
                        <div class="career__item item">Handwerkliches Geschick und körperliche Belastbarkeit</div>
                        <div class="career__item item">Du besitzt einen Führerschein der Klasse B und einen eigenen PKW, um deine Arbeitsstelle zu erreichen</div>
                    </div>
                </div>
                <div class="career__box">
                    <h2 class="career__title">Du möchtest mehr erfahren?</h2>
                    <p class="career__text">Dann schreibe mir einfach unverbindlich eine E-Mail: <a href = "mailto:i.barho@barho-bausrvice.de" class="career__email">i.barho@barho-bauservice.de</a> mit dem Stichwort “Bewerbung-Trockenbau“. Ich freue mich darauf Dich kennen zu lernen.</p>
                </div>    
            </div>
        </div>    
    </section>
</div>
