<div class="abbruch-entkernung page">
    <div class="abbruch-entkernung__background-wrapper background-wrapper">
        <div class="abbruch-entkernung__wrapper wrapper">
            <div class="abbruch-entkernung__title title-main title-bottom">Abbruch / Entkernung</div>
        </div>
    </div>

    <section class="abbruch">
        <div class="abbruch__wrapper section-wrapper">
            <h2 class="abbruch__title title-second title-mb">Abbruch</h2>
            <p class="abbruch__text text text-mb">
                Vordergründig geht ein konventioneller Gebäudeabbruch schneller über die Bühne als ein qualifizierter Rückbau. Nach Abschluss der Abriss¬arbeiten steht man jedoch vor einem Berg aus unsortierten Abfällen verschiedenster Art, die ohne kostspielige Nachsortierung nicht sachgerecht verwertet oder entsorgt werden können.<br><br>
                Anders beim qualifizierten Rückbau. Hier werden die einzelnen Bestandteile eines Gebäudes (Dachstuhl, Decken, Fenster, Elektro- und Sanitärinstallationen, Gebäudesubstanz etc.) Schritt für Schritt abgebaut. Dies erfordert eine gründliche Planung. Die einzelnen Abfallarten müssen erfasst und geeigneten Rückbauverfahren zugeordnet werden. Dazu ist das Gebäude auf Schadstoffe zu untersuchen. Der Abriss dauert dadurch zwar länger, gleichzeitig entfällt aber eine teure Nachsortierung der Abfälle.
            </p>
            <h3 class="abbruch__title title-third title-mb">Folgende Abbrucharbeiten bieten wir Ihnen an</h3>
            <ul class="abbruch__list">
                <li class="abbruch__item item">Rigips Wand und Fließen abbrechen</li>
                <li class="abbruch__item item">Estrich Beton abbrechen</li>
                <li class="abbruch__item item">Balkongeländer und Terrassen abbrechen</li>
                <li class="abbruch__item item">Dachverkleidungen aus Metall, Putz, Holz, etc. abbrechen</li>
                <li class="abbruch__item item">Holz Decken und Holzboden abbrechen</li>
                <li class="abbruch__item item">Balkongeländer und Terrassen abbrechen</li>
                <li class="abbruch__item item">Ziegelwände und Fensterbänke abbrechen</li>
                <li class="abbruch__item item">Laminatboden und PVC-Boden abbrechen</li>
                <li class="abbruch__item item">Möbel abbauen / ausbauen</li>
                <li class="abbruch__item item">Mineralwolle ausbauen</li>
            </ul>
        </div>
    </section>
    <section class="entkernung">
        <div class="entkernung__wrapper section-wrapper">
            <h2 class="entkernung__title title-second  title-mb">Entkernung</h2>
            <p class="entkernung__text text text-mb">
                Die klassische Entkernung beinhaltet die Zurückversetzung von Gebäuden in deren Rohbauzustand.<br>
                Sowohl für Voll- als auch für Teilsanierungen bekommen Sie bei uns alles aus einer Hand.<br>
                Neben der Entkernung von Wohnungen und Kleingebäuden leisten wir mit Leichtigkeit die Entkernung ganzer Hallen und Firmentrakte. Hierzu verfügen wir über einen äußerst umfangreichen und modernen Gerätepark.
            </p>
            <h3 class="entkernung__title title-third title-mb">Folgende Entkernung bieten wir Ihnen an</h3>
            <ul class="entkernung__list">
                <li class="entkernung__item item">Teil- oder Vollentkernungen</li>
                <li class="entkernung__item item">Manuelle Entkernung</li>
                <li class="entkernung__item item">Maschinenunterstützte Entkernung</li>
                <li class="entkernung__item item">Trennung und Sortierung der Abbruchmasse</li>
                <li class="entkernung__item item">Baureinigung</li>
                <li class="entkernung__item item">Ordnungsgemäße Entsorgung aller bei diesen Maßnahmen anfallender Baurestmassen.</li>
            </ul>
        </div>
    </section>
</div>











