.app {
    position: relative;
}

.move-up-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;

    .icon-box {
        position: relative;
        width: 50px;
        height: 50px;
        margin: 0;
        border-radius: 50%;
        box-shadow: 0 0 15px rgba(35, 111, 117, 0.5);
        background-color: #ffffff;
        cursor: pointer;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: 0 0 15px rgba(35, 111, 117, 1);
        }

        &:hover > .material-icons {
            color: rgba(35, 111, 117, 0.5);
        }

        .material-icons {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            font-size: 30px;
            color: rgba(35, 111, 117, 0.3);
            transition: color 0.3s;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}
