<div class="altbausanierung page">
    <div class="altbausanierung__background-wrapper background-wrapper">
        <div class="altbausanierung__wrapper wrapper">
            <div class="altbausanierung__title title-main title-bottom">Altbausanierung</div>
        </div>
    </div>
    <section class="altbausanierung__section">
        <div class="altbausanierung__wrapper section-wrapper">
            <h3 class="altbausanierung__title altbausanierung__title--center">Altbausanierung & Altbaurenovierung in NRW</h3>
            <p class="altbausanierung__text altbausanierung__text--large">Gebäudesanierung aus einer Hand vom Profi zum Festpreis</p>
            <div class="altbausanierung__box">
                <h2 class="altbausanierung__title altbausanierung__title--secondary">Wir sanieren und renovieren Ihren Altbau energetisch – Fördermittel prüfen lassen</h2>
                <p class="altbausanierung__text">Die Altbausanierung ist ein komplexes Feld aus verschiedenen Sanierungsmaßnahmen, die nicht nur ein gut ausgebildetes Handwerkerteam der unterschiedlichen Branchen erfordert, sondern auch die Kenntnis der Anforderungen, die an eine energetische Sanierung oder barrierefreie Umbauten gestellt werden.</p>
                <p class="altbausanierung__text">Energieeinsparung, Wärmedämmung, alters- und behindertes gerechtes Wohnen, das Plus an Lebensqualität auf dem neusten Stand der Technik sind die Ziele, die mit einer Altbausanierung oder einer Altbaurenovierung realisiert werden sollen. Die Bauunternehmung Barho Bauservice ist Ihr erfahrener Altbausanierer, mit dem Sie aus einer Hand sanieren. Und das gilt auch für denkmalgeschützte Gebäude.</p>
            </div>
            <div class="altbausanierung__box">
                <h2 class="altbausanierung__title altbausanierung__title--secondary">Die großen Vorteile einer kompletten Altbausanierung</h2>
                <p class="altbausanierung__text">Fehlende Dämmung, alte Fenster und Türen ohne Wärmedämmglas, veraltete Heizungsanlagen, marode Leitungen und Wassersysteme halten den heutigen Anforderungen an Energieeffizienz, Heizleistung, Sicherheit und Komfort nicht mehr Stand und beeinflussen so auch die Lebensqualität ungünstig. Die Bausubstanz verschlechtert sich durch Feuchtigkeit und Schimmel zusehends, Schäden an der Elektrik und Wasserleitungen häufen sich. Eine Altbausanierung nimmt sich dieser Problematik komplett an und bietet Ihnen diese Vorteile:</p>
                <ul class="altbausanierung__list list">
                    <li class="altbausanierung__item item">Hohe Energieeinsparung, weniger Energie- und Heizkosten</li>
                    <li class="altbausanierung__item item">Behaglichkeit durch Wärme und ein angenehmes Raumklima</li>
                    <li class="altbausanierung__item item">Wohlbefinden und weniger gesundheitliche Beeinträchtigungen</li>
                    <li class="altbausanierung__item item">Anpassung an die aktuellen Standards der Bau- und Materialtechnik</li>
                    <li class="altbausanierung__item item">Zahlreiche staatliche Fördermöglichkeiten (KfW) für Komplettsanierungen und Teilsanierungen</li>
                    <li class="altbausanierung__item item">Günstige Festpreise für verschiedene Leistungen von Bossmann</li>
                    <li class="altbausanierung__item item">Wertsteigerung Ihrer Immobilie oder Eigentumswohnung</li>
                </ul>
                <p class="altbausanierung__text">Unser Team betrachtet jede Altbausanierung als individuelle Aufgabe, die wir mit Liebe zum Detail und zur perfekten Ausführung lösen. Mit unsere Mitarbeiter und die Vermitlung von Werkverträgen können wir Ihnen u.a. folgenden Leistungen der Bausanierung von Altbauten und der Altbaurenovierung anbieten:</p>
                <ul class="altbausanierung__list list">
                    <li class="altbausanierung__item item">Fenstersanierung, Türensanierung</li>
                    <li class="altbausanierung__item item">Erneuerung von Heizungsanlage inklusive neuer Heizkörper</li>
                    <li class="altbausanierung__item item">Dämmung von Dach, Geschossdecken, Kellerdecken, Fassadendämmung</li>
                    <li class="altbausanierung__item item">Abriss und Entkernung</li>
                    <li class="altbausanierung__item item">Erneuerung alter Fußböden</li>
                    <li class="altbausanierung__item item">Putzarbeiten, Innenausbau</li>
                    <li class="altbausanierung__item item">Badsanierung</li>
                    <li class="altbausanierung__item item">Erneuerung Elektro-, Wasser-, Sanitärinstallation</li>
                    <li class="altbausanierung__item item">Gestaltung der Wände mit Putz, Farbe, Tapete</li>
                    <li class="altbausanierung__item item">Umbaumaßnahmen für mehr Wohnkomfort, Raumnutzung und Barrierefreiheit</li>
                </ul>
            </div>    
        </div>
    </section>
</div>
