<div class="Trockenbau page">
    <div class="Trockenbau__background-wrapper background-wrapper">
        <div class="Trockenbau__wrapper wrapper">
            <div class="Trockenbau__title title-main title-bottom">Trockenbau</div>
        </div>
    </div>

    <section class="Trennwande">
        <div class="Trennwande__wrapper section-wrapper">
            <h2 class="Trennwande__title  title-second title-mb">Trennwände</h2>
            <p class="Trennwande__text text text-mb">
                Trennwände in Trockenbauweise stellen die beste Methode dar, schnell und effektiv eine Raumtrennung zu schaffen. Gleichzeitig bieten diese Stabilität und einen sehr guten Schallund Brandschutz. Wir sind ein Fachunternehmen für Innenausbau und Trockenbau aus München. Wir bieten Gipskartonwände bewährter Systeme u.a. von Knauf, Siniat oder Rigips an. Des Weiteren können diese mit diversen Tür- und Glaselementen oder 
                Schiebetürsystemen von beispielsweise Eclisse, Jeld-Wen oder Knauf Pocket Kit ergänzt werden. <br><br>
                Schallschutz wird ein immer bedeutenderes Thema - sei es im privaten oder auch im gewerblichen Bereich. Durch zu hohe Lärmbelastungen steigt der Alltagsstress, was wiederum die Lebensqualität mindern kann. <br><br>
                Dem kann man jedoch Abhilfe schaffen. Um effektiv für Ruhe zu sorgen, braucht es heute kein dickes Mauerwerk mehr. Mithilfe von Wandaufbauten mit speziellen Systemen, wie beispielsweise dem Knauf Silent Board, ist eine Schallminderung von bis zu 74 dB realisierbar. 
            </p>
            <h3 class="Trennwande__title title-third title-mb">Folgende Ausführungsvarianten können wir Ihnen anbieten:</h3>
            <ul class="Trennwande__list">
                <li class="Trennwande__item item">Einfachständerwände</li>
                <li class="Trennwande__item item">Doppelständerwände</li>
                <li class="Trennwande__item item">Schachtwände</li>
                <li class="Trennwande__item item">Installationswände</li>
                <li class="Trennwande__item item">Trockenputz, Vorsatzschalen</li>
                <li class="Trennwande__item item">Brandwände</li>
                <li class="Trennwande__item item">Feuerschutzwände</li>
                <li class="Trennwande__item item">Wohnungstrennwände</li>
                <li class="Trennwande__item item">Schallschutzwände</li>
                <li class="Trennwande__item item">Strahlenschutzwände</li>
            </ul>
        </div>
    </section>

    <section class="Deckensysteme">
        <div class="Deckensysteme__wrapper section-wrapper">
            <h2 class="Deckensysteme__title  title-second title-mb">Deckensysteme</h2>
            <p class="Deckensysteme__text text text-mb">
                Es gibt unterschiedliche Gründe, warum man eine Decke abhängen möchte. Neben optischen 
                Gründen können dadurch zum Beispiel Heizkosten gespart, Lichtelemente (Spots) integriert, Installationen verkleidet oder aber auch der Schall, die Raumakustik oder der Wärmeschutz verbessert werden. Mithilfe eines großen Spektrums an Systemen, wie etwa abgehängten, freitragenden oder auch direkt befestigten Decken mit oder ohne Brandschutz, verbessertem Wärmeschutz oder erhöhtem Schallschutz, können je nach Bedarf die oben genannten Effekte erreicht werden. Teilen Sie uns gerne Ihre Wünsche mit und wir helfen Ihnen im Rahmen einer Beratung gerne dabei, ein passendes Produkt für Ihre Anforderungen zu finden. Die hochentwickelten Spezialkonstruktionen für alle Anforderungen sowie die vielfältigen Möglichkeiten in der Gestaltung lassen beinahe keine Wünsche offen.<br><br>
                (Es besteht dabei eine große Anzahl an Möglichkeiten um das passende System für Ihre Anforderungen zu finden. Beispielsweise: Abgehängte, freitragende Decken oder direkt befestigte Decken mit oder ohne Brandschutz, verbesserter Wärmeschutz oder ein erhöhter Schallschutz).<br><br>
                (Die hochentwickelten Spezialkonstruktionen für alle Anforderungen sowie die vielfältigen Möglichkeiten in der Gestaltung lassen beinah keine Wünsche offen).
            </p>
            <h3 class="Deckensysteme__title title-third title-mb">Einige Möglichkeiten von Deckensystemen:</h3>
            <ul class="Deckensysteme__list">
                <li class="Deckensysteme__item item">Freitragende Deckensysteme</li>
                <li class="Deckensysteme__item item">Design-Deckensysteme</li>
                <li class="Deckensysteme__item item">Abgehängte Gipsplatten-Decken</li>
                <li class="Deckensysteme__item item">Akustik-Decken</li>
                <li class="Deckensysteme__item item">Brandschutzdecken</li>
                <li class="Deckensysteme__item item">Dachgeschossdecken/Schrägen</li>
                <li class="Deckensysteme__item item">Strahlenschutz-Decken</li>
            </ul>
        </div>
    </section>

    <section class="Brandschutz">
        <div class="Brandschutz__wrapper section-wrapper">
            <h2 class="Brandschutz__title  title-second title-mb">Brandschutz</h2>
            <p class="Brandschutz__text text text-mb">
                Der vorbeugende bauliche Brandschutz (passiver Feuerschutz) erlangt im Bauwesen eine immer größere Bedeutung. Er soll dabei behilflich sein, Brände zu verhindern oder räumlich einzugrenzen und im Brandfall die Flucht- und Rettungswege zu sichern.<br><br>
                Das Brandverhalten von Baustoffen und Bauteilen wird umfassend in der DIN 4102 „Brandverhalten von Baustoffen und Bauteilen“ abgehandelt.<br><br>
                Die grundsätzliche brandschutztechnische Klassifizierung von Bauteilen erfolgt nach 
                Feuerwiderstandsklassen. Maßgeblich ist dabei die Zeitdauer, die das Bauteil dem Feuer Widerstand bietet. Für tragende sowie raumabschließende Bauteile wie Wände, Decken, Stützen und Unterzüge wird die Feuerwiderstandsklasse mit dem Buchstaben „F“ und der Zeit in Minuten bis zum Eintritt eines Versagenskriteriums von F30 bis F180 angegeben.<br><br>
                Im Bereich Brandschutz können wir für Sie auf vielfältige, leistungsfähige sowie preiswerte Systemkonstruktionen von den führenden Herstellern zurückgreifen. Diese Systeme sind zertifiziert und geprüft. Durch die breite Auswahl an Produkten in diesem Bereich, können wir das passende Konzept für Sie finden. Auch bei individuellen Anforderungen finden wir für Sie eine sichere Lösung, die an die Kriterien des Brandschutzes gebunden ist und die wir auch gewährleisten können.
            </p>
            <h3 class="Brandschutz__title title-third title-mb">Unsere Leistungen:</h3>
            <ul class="Brandschutz__list">
                <li class="Brandschutz__item item">Brandschutzsysteme nach DIN 4102 bzw. DIN EN 13501 in der Ausführung F30 bis F180 
                    Hier: Wand- sowie Deckensysteme</li>
                <li class="Brandschutz__item item">Materialien nach DIN EN ISO 9001 bzw. A1</li>
                <li class="Brandschutz__item item">I-Kanäle</li>
                <li class="Brandschutz__item item">Träger und Stützenbekleidungen</li>
                <li class="Brandschutz__item item">Brandschotts</li>
            </ul>
        </div>
    </section>
    <app-photo-collage [photos]="collagePhotos"></app-photo-collage>
</div>
