<div class="home page">
    <section class="home__section home__section--slideshow">
        <app-slide-show 
            class="home__slideshow"
            [images]="slideShowImagesPaths"
        ></app-slide-show>
        <div class="home__info">
            <h1 class="home__info--title">Sanieren - Renovieren - Modernisieren</h1>
            <div class="home__info--services">ABBRUCH, DÄMMUNGEN, FENSTER, DACH, TROCKENBAU, INNENAUSBAU, RIGIPSARBEITEN & FLIESENARBEITEN AUS EINER HAND VOM PROFI</div>
            <h2 class="home__info-customer-satisfaction">100% Kundenzufriedenheit</h2>
        </div>
    </section>

    <section class="home__section home__section--description">
        <div class="description">
            <div class="description__wrapper wrapper">
                <p class="description__text">Ob Sie ein ganzes Haus oder einzelne Räume umbauen, sanieren oder modernisieren wollen – wir machen Ihnen das passende Angebot und erfüllen zeitgerecht, fachmännisch und professionell Ihre Wünsche.</p>
                <p class="description__text">Sie haben Ihre Ideen und Vorstellungen – wir beraten Sie, um Ihren Traum nach Ihren Wünschen und finanziellen Möglichkeiten zu planen und umzusetzen. Mit jahrelanger Erfahrung und ortsansässigen Fachbetrieben schaffen wir für Sie passgenaue Lösungen, koordinieren für Sie die einzelnen Gewerke und sind gleichzeitig Ansprechpartner für Ihre Sorgen und Wünsche.</p>
                <p class="description__text">​Sie müssen sich nicht mit den einzelnen Gewerken auseinandersetzen, um Termine und Handwerker zu koordinieren, sondern haben den Vorteil, einen zentralen Ansprechpartner zu haben, der für sie alles organisiert und umsetzt. </p>
                <p class="description__text">Wir stimmen unsere Arbeiten individuell auf Ihre Zeitpläne ab und versprechen eine konsequente Termineinhaltung. </p>
                <p class="description__text">So renovieren wir beispielsweise Bad und Küche während Sie sich im Urlaub erholen.</p>
            </div>    
        </div>
    </section>

    <section class="home__section home__section--services">
        <div class="services">
            <div class="services__wrapper wrapper">
                <h2 class="services__title title">Leistungen</h2>
                <div class="services__box services__box--list">
                    <ul class="services__list">
                        <li 
                            class="services__item" 
                            *ngFor="let service of services; let i = index"
                            [routerLink]="[service.path]"
                            [routerLinkActiveOptions]="{exact: service.exact}"
                            [routerLinkActive]="['nav__link--active']"
                            (mouseover)="index = i"
                            (mouseleave)="index = 0"
                            >{{service.title}}
                        </li>
                    </ul>
                    <div class="services__image-box" 
                        *ngFor="let service of services; let i = index" 
                        [ngClass]="{'services__image-box--hidden': i !== index}">
                        <img class="services__image" [src]="service.imgUrl" [alt]="service.imgAlt">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="home__section home__section--advantages">
        <div class="advantages">
            <div class="advantages__wrapper wrapper">
                <h2 class="advantages__title advantages__title--main title">Ihre Vorteile</h2>
                <ul class="advantages__list">
                    <li class="advantages__item-box">
                        <div class="advantages__item">
                            <div class="advantages__item--header">
                                <div class="advantages__icon-box icon-box">
                                    <i class="material-icons">schedule</i>
                                </div>
                                <h3 class="advantages__title advantages__title--secondary">Sie Sparen Zeit</h3>    
                            </div>
                            <p class="advantages__text">Mit unserem Komplettservice ermöglichen wir Ihnen die unkomplizierte und schnelle Sanierung, Renovierung und Modernisierung Ihres Bauobjektes. Wir übernehmen Planung und Umsetzung, Sie lehnen sich zurück.</p>    
                        </div>
                    </li>
                    <li class="advantages__item-box">
                        <div class="advantages__item">
                            <div class="advantages__item--header">
                                <div class="advantages__icon-box icon-box">
                                    <i class="material-icons">euro_symbol</i>
                                </div>
                                <h3 class="advantages__title advantages__title--secondary">Sie Sparen Geld</h3>    
                            </div>
                            <p class="advantages__text">Bei uns erhalten Sie einen transparenten Kostenvoranschlag. Sie sehen vorher, welchen Preis Sie am Ende zahlen würden, ohne versteckte Kosten. Qualität zu fairen Preisen.</p>
                        </div>
                    </li>
                    <li class="advantages__item-box">
                        <div class="advantages__item">
                            <div class="advantages__item--header">
                                <div class="advantages__icon-box icon-box">
                                    <i class="material-icons">sentiment_very_satisfied</i>
                                </div>
                                <h3 class="advantages__title advantages__title--secondary">Sie Sparen Nerven</h3>    
                            </div>
                            <p class="advantages__text">Sie haben nur ein Angebot, einen Gewährleistungspartner und einen Ansprechpartner vor Ort.</p>    
                        </div>
                    </li>
                    <li class="advantages__item-box">
                        <div class="advantages__item">
                            <div class="advantages__item--header">
                                <div class="advantages__icon-box icon-box">
                                    <i class="material-icons">help_outline</i>
                                </div>
                                <h3 class="advantages__title advantages__title--secondary">Sie haben einen freundlichen Support</h3>    
                            </div>
                            <p class="advantages__text">Unser Supportteam verspricht reibungslose Abläufe. Sie erhalten stets die gewünschte Hilfe.</p>    
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
