<div class="mobelmontage page">
    <div class="mobelmontage__background-wrapper background-wrapper">
        <div class="mobelmontage__wrapper wrapper">
            <div class="mobelmontage__title title-main title-bottom">Möbelmontage</div>
        </div>
    </div>

    <section class="info">
        <div class="info__wrapper section-wrapper">
            <p class="info__text text text-mb">
                Sie suchen jemanden der Ihre Möbel fachgerecht aufbaut, damit Sie lange daran Freude haben? Bei 
                Möbelmontagen sind wir genau der richtige Ansprechpartner für Sie. Unser speziell geschultes Personal sorgt für einen reibungslosen Möbelaufbau und professionelle Ergebnisse. Wir arbeiten schnell und zuverlässig – ob Küche, Schrank oder Schrankwand, ob für Privat oder Firmen – lassen Sie sich ein unverbindliches, individuelles Angebot machen. Wir bieten Ihnen auch den Service von Möbelumzügen. 
            </p>
        </div>
    </section>
</div>
