.datenschutzerklarung {

}
.datenschutzerklarung__wrapper {

}
.datenschutzerklarung__title {
    margin: 40px 0 20px;
}
.datenschutzerklarung__text {

}
.datenschutzerklarung__text--bold {
    font-weight: 700;
    padding-bottom: 5px;
}

.datenschutzerklarung__text--italic {
    font-style: italic;
}

.datenschutzerklarung__link {
    text-decoration: underline;
}