.cookie {

}
.cookie__wrapper {

}
.cookie__title {
    margin: 40px 0 20px;
}
.cookie__text {

}
.cookie__text--bold {
    font-weight: 700;
    padding-bottom: 5px;
}
.cookie__link {
    text-decoration: underline;
}