<div class="cookie page">
    <div class="cookie__wrapper wrapper">
        <h1 class="cookie__title">Cookie-Richtlinie</h1>
        <p class="cookie__text">Cookies werden zur Benutzerführung und Webanalyse verwendet und helfen dabei, diese Website besser zu machen. Wenn du diese Seite weiter benutzt, gehen wir davon aus, dass du mit unseren Datenschutzbestimmungen einverstanden bist: 
            <a  
            class="cookie__link"
            [routerLink]="'cookie-richtlinie'"
            >Cookie Richtlinie</a>
        </p>
        <p>
            <a  
            class="cookie__link"
            style="margin-right: 10px;"
            [routerLink]="'impressum'"
            >Impressum</a> 
            <a  
            class="cookie__link"
            [routerLink]="'datenschutzerklarung'"
            >Datenschutz</a>
        </p>
        <br>

        <p class="cookie__text">Unbedingt erforderlich</p>
        <p class="cookie__text">Performance</p>
        <br>

        <p class="cookie__text cookie__text--bold">Unbedingt erforderlich</p>
        <p class="cookie__text">Unbedingt erforderliche Cookies ermöglichen grundlegende Funktionen und sind für die einwandfreie Funktion der Website erforderlich. Daher kann man sie nicht deaktivieren. Diese Art von Cookies wird ausschließlich von dem Betreiber der Website verwendet (First-Party-Cookie) und sämtliche Informationen, die in den Cookies gespeichert sind, werden nur an diese Website gesendet.</p>
        <p class="cookie__text">Keine Cookies in dieser Kategorie</p>
        <br>

        <p class="cookie__text cookie__text--bold">Funktionell</p>
        <p class="cookie__text">Funktionelle Cookies ermöglichen dieser Website, bestimmte Funktionen zur Verfügung zu stellen und Informationen zu speichern, die vom Nutzer eingegeben wurden – beispielsweise bereits registrierte Namen oder die Sprachauswahl. Damit werden verbesserte und personalisierte Funktionen gewährleistet.</p>
        <p class="cookie__text">Keine Cookies in dieser Kategorie</p>
        <br>

        <p class="cookie__text cookie__text--bold">Marketing / Third Party</p>
        <p class="cookie__text">Marketing- / Third Party-Cookies stammen unter anderem von externen Werbeunternehmen und werden verwendet, um Informationen über die vom Nutzer besuchten Websites zu sammeln, um z. B. zielgruppenorientierte Werbung für den Benutzer zu erstellen.</p>
        <p class="cookie__text">Keine Cookies in dieser Kategorie</p>
        <br>

        <p class="cookie__text cookie__text--bold">Performance</p>
        <p class="cookie__text">Die Performance-Cookies sammeln Informationen darüber, wie diese Website genutzt wird. Der Betreiber der Website nutzt diese Cookies um die Attraktivität, den Inhalt und die Funktionalität der Website zu verbessern.</p>
        <br>
        <p class="cookie__text cookie__text--bold">Google Analytics</p>
        <p class="cookie__text">Diese Cookies sammeln anonymisierte Informationen zu Analysezwecken – z. B. wie Besucher die Website nutzen und mit ihr interagieren. Anbieter: Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA oder Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland, wenn Sie in der EU ansässig sind. Cookie-Namen:_ga, _gat und_gid) Cookie-Lebensdauer: 2 Jahre</p>
        <p class="cookie__text">
            <a class="cookie__link" style="margin-right: 10px;" href="https://policies.google.com/technologies/cookies" target="_blank">Cookie Richtlinie</a>
            <a class="cookie__link" href="https://policies.google.com/privacy" target="_blank">Datenschutzerklärung</a>
        </p>
        <br><br>
    </div>
</div>
