.destroy {
padding-top: 120px;
}

.destroy__background-wrapper {
    width: 100vw;
    height: 300px;
    margin-bottom: 120px;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url(../../../assets/images/buildings-4783300.jpg);
        background-size: cover;
        opacity: 0.8;
        z-index: -1;
    }
}

.destroy__wrapper {
    position: relative;
    height: 100%;
}

.destroy__title {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
}

.destroy__title--main {
}

.abbruch {
}
.abbruch__wrapper {
    padding: 0 50px 50px;
}
.abbruch__title {
    margin-bottom: 20px;
}
.abbruch__text {
    margin-bottom: 30px;
}
.abbruch__list {

}
.destroy__item {
    padding: 0 10px 0px 30px;
    margin-bottom: 10px;
    position: relative;

    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 3px;
        top: 9px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #6FD297;
        box-shadow: 0px 0px 0px 3px rgba(78, 188, 109, 0.2);
    }
}
.abbruch__item {
}
.entkernung {
    margin-bottom: 50px;
}
.entkernung__wrapper {
    padding: 0 50px 50px;
}
.entkernung__title {
    margin-bottom: 20px;
}
.entkernung__text {
    margin-bottom: 30px;
}

.entkernung__list {
}
.entkernung__item {
}

@media screen and (max-width: 500px) {
    .destroy__background-wrapper {
        margin-bottom: 80px;
    }
    
    .abbruch__wrapper {
        padding: 0 30px 50px;
    }

    .entkernung__wrapper {
        padding: 0 30px 50px;
    }
}