<div class="destroy">
    <div class="destroy__background-wrapper">
        <div class="destroy__wrapper wrapper">
            <div class="destroy__title destroy__title--main title-main">Abbruch/Entkernung</div>
        </div>
    </div>

    <section class="abbruch">
        <div class="abbruch__wrapper wrapper">
            <h2 class="abbruch__title title-second">Abbruch</h2>
            <p class="abbruch__text text">
                Vordergründig geht ein konventioneller Gebäudeabbruch schneller über die Bühne als ein qualifizierter Rückbau. Nach Abschluss der Abriss¬arbeiten steht man jedoch vor einem Berg aus unsortierten Abfällen verschiedenster Art, die ohne kostspielige Nachsortierung nicht sachgerecht verwertet oder entsorgt werden können.<br><br>
                Anders beim qualifizierten Rückbau. Hier werden die einzelnen Bestandteile eines Gebäudes (Dachstuhl, Decken, Fenster, Elektro- und Sanitärinstallationen, Gebäudesubstanz etc.) Schritt für Schritt abgebaut. Dies erfordert eine gründliche Planung. Die einzelnen Abfallarten müssen erfasst und geeigneten Rückbauverfahren zugeordnet werden. Dazu ist das Gebäude auf Schadstoffe zu untersuchen. Der Abriss dauert dadurch zwar länger, gleichzeitig entfällt aber eine teure Nachsortierung der Abfälle.
            </p>
            <h3 class="abbruch__title title-third">Folgende Abbrucharbeiten bieten wir Ihnen an</h3>
            <ul class="abbruch__list">
                <li class="destroy__item abbruch__item">Rigips Wand und Fließen abbrechen</li>
                <li class="destroy__item abbruch__item">Estrich Beton abbrechen</li>
                <li class="destroy__item abbruch__item">Balkongeländer und Terrassen abbrechen</li>
                <li class="destroy__item abbruch__item">Dachverkleidungen aus Metall, Putz, Holz, etc. abbrechen</li>
                <li class="destroy__item abbruch__item">Holz Decken und Holzboden abbrechen</li>
                <li class="destroy__item abbruch__item">Balkongeländer und Terrassen abbrechen</li>
                <li class="destroy__item abbruch__item">Ziegelwände und Fensterbänke abbrechen</li>
                <li class="destroy__item abbruch__item">Laminatboden und PVC-Boden abbrechen</li>
                <li class="destroy__item abbruch__item">Möbel abbauen / ausbauen</li>
                <li class="destroy__item abbruch__item">Mineralwolle ausbauen</li>
            </ul>
        </div>
    </section>
    <section class="entkernung">
        <div class="entkernung__wrapper wrapper">
            <h2 class="entkernung__title title-second">Entkernung</h2>
            <p class="entkernung__text text">
                Die klassische Entkernung beinhaltet die Zurückversetzung von Gebäuden in deren Rohbauzustand.<br>
                Sowohl für Voll- als auch für Teilsanierungen bekommen Sie bei uns alles aus einer Hand.<br>
                Neben der Entkernung von Wohnungen und Kleingebäuden leisten wir mit Leichtigkeit die Entkernung ganzer Hallen und Firmentrakte. Hierzu verfügen wir über einen äußerst umfangreichen und modernen Gerätepark.
            </p>
            <h3 class="entkernung__title title-third">Folgende Entkernung bieten wir Ihnen an</h3>
            <ul class="entkernung__list">
                <li class="destroy__item entkernung__item">Teil- oder Vollentkernungen</li>
                <li class="destroy__item entkernung__item">Manuelle Entkernung</li>
                <li class="destroy__item entkernung__item">Maschinenunterstützte Entkernung</li>
                <li class="destroy__item entkernung__item">Trennung und Sortierung der Abbruchmasse</li>
                <li class="destroy__item entkernung__item">Baureinigung</li>
                <li class="destroy__item entkernung__item">Ordnungsgemäße Entsorgung aller bei diesen Maßnahmen anfallender Baurestmassen.</li>
            </ul>
        </div>
    </section>
</div>











