/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
:root {
    --active-color: rgb(218, 145, 10);
    --main-background-color: #ffffff;
    --main-text-color: #0E0C29;
    --active-text-color: #236F75;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #F2F9F6;
}

.wrapper {
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 25px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

