/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import '~material-design-icons/iconfont/material-icons.css';

:root {
    --active-color: rgb(218, 145, 10);
    --main-background-color: #84F8CC;
    --main-text-color: #0E0C29;
    --active-text-color: #236F75;
    --active-text-color-light: rgba(35, 111, 117, 0.1);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #F2F9F6;
}

.wrapper {
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 25px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.title-main {
    display: block;
    width: fit-content;
    margin: 0;
    padding: 20px 40px;
    font-size: 40px;
    font-weight: 400;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    border-radius: 10px;
}

.title-second {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.title-third {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

.text {
    font-size: 16px;
    line-height: 1.5;
}

@media screen and (max-width: 500px) {
    .title-main {
        font-size: 25px;
        padding: 10px 20px;
    }    
}