/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import './app/styles/classes';
@import './app/styles/variables';

:root {
    --color-main: #0E0C29;
    --color-active: #009897;
    --color-active-light: #0fafaf;
    --color-active-transparent: rgba(0, 153, 153, 0.6);
    --color-orange: #f1a622;
    --color-orange-light: #f1c16d;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #F2F9F6;
}

section {
    padding: 25px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, label, figure {
    margin: 0;
}

button {
    margin: 0;
    padding: 0;
    background-color: none;
}

input:focus, textarea:focus {
    outline: none;
}
