<div class="collage">
    <ul class="collage__list">
        <li class="collage__item">
            <img src="/assets/images/home-slides/1.jpg" alt="" class="collage__img">
        </li>
        <li class="collage__item">
            <img src="/assets/images/home-slides/2.jpg" alt="" class="collage__img">
        </li>
        <li class="collage__item">
            <img src="/assets/images/home-slides/1.jpg" alt="" class="collage__img">
        </li>
        <li class="collage__item">
            <img src="/assets/images/home-slides/2.jpg" alt="" class="collage__img">
        </li>
        <li class="collage__item">
            <img src="/assets/images/home-slides/1.jpg" alt="" class="collage__img">
        </li>
        <li class="collage__item">
            <img src="/assets/images/home-slides/2.jpg" alt="" class="collage__img">
        </li>
    </ul>
</div>