<div class="Schadstoffsanierung page">
    <div class="Schadstoffsanierung__background-wrapper background-wrapper">
        <div class="Schadstoffsanierung__wrapper wrapper">
            <div class="Schadstoffsanierung__title title-main title-bottom">Schadstoffsanierung</div>
        </div>
    </div>

    <section class="Asbestsanierung">
        <div class="Asbestsanierung__wrapper section-wrapper">
            <h2 class="Asbestsanierung__title  title-second title-mb">Asbestsanierung</h2>
            <p class="Asbestsanierung__text text text-mb">
                Asbest ist ein natürlich vorkommendes Magnesiumsilikat, welches von einer faserartigen Struktur gekennzeichnet ist. Er besitzt eine große Festigkeit, ist hitze- und säurebeständig, wasserfest und verrottet nicht. Außerdem hat er gute Dämmeigenschaften und kann als Faser zu Garnen versponnen und verwebt werden. Das bis vor wenigen Jahrzehnten noch als höchster Standard geltende Material wurde in allen möglichen Bereichen, wie zum Beispiel bei Fassadendämmungen, Wellplatten auf Dächern, Bodenplatten, Rohren oder sogar Blumenkübeln verwendet. Bei Objekten aus Asbestzement sind die Fasern fest verbaut und werden vor allem freigesetzt, wenn sie bearbeitet, gereinigt oder demontiert werden.<br><br>
                In Form von Kabelabschottungen, Brandschutzklappen, Isolierungselementen oder 
                Rohrflansch-Dichtungen findet sich auch Spritzasbest des Öfteren wieder. Hierbei ist die Faser nur leicht gebunden, weswegen sie besonders leicht lösbar und damit gesundheitsgefährdend ist. In Deutschland und der gesamten EU ist Asbest aufgrund seiner gesundheitsgefährdenden Charakteristika seit 1992 verboten, weswegen asbesthaltige Erzeugnisse im Baubereich gemäß der Chemikalien-Verbotsverordnung nicht mehr verwendet werden dürfen und Gebäude mit Asbestbelastung saniert werden müssen. 
            </p>
            <h3 class="Asbestsanierung__title title-third title-mb">Folgende Schadstoffsanierung bieten wir Ihnen an:</h3>
            <ul class="Asbestsanierung__list">
                <li class="Asbestsanierung__item item">Asbestsanierung</li>
                <li class="Asbestsanierung__item item">PAK-Sanierung</li>
                <li class="Asbestsanierung__item item">PCB-Sanierung</li>
                <li class="Asbestsanierung__item item">KMF-Sanierung</li>
            </ul>
        </div>
    </section>
</div>
